.pad-ro {
    padding: 0px 4px;
}

.formError {
    // top: 45 px !important;
    left: 100px !important;
}

/*.form-group-default label.fade {*/
/*opacity: 0.9 !important;*/
/*}*/

/*.table thead tr th {*/
/*color: rgb(50, 50, 55) !important;*/
/*}*/

/*.link-btn {*/
/*padding: 6px 12px !important;*/
/*}*/

.form-group-style {
    overflow: initial !important;
}

.full-w {
    width: 100% !important;
}

/*.card.card-default {*/
/*border: 1px solid rgba(0, 0, 0, 0.12)!important;*/
/*}*/

.c-pointer {
    cursor: pointer !important;
}

/*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {*/

/*color: rgba(87, 87, 87, 0.63) !important;*/
/*}*/

.no-r-border {
    border-right: 1px solid #fff !important;
}

.top-border {
    border-top: 1px solid #dee2e6 !important;
}

.hide-box {
    display: none !important;
}

.show-box {
    display: block !important;
}

.soft-hide {
    display: none;
}

.p-t-13 {
    padding-top: 13px !important;
}

#notfound {
    position: relative;
    height: 53vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 58%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
}

.notfound .notfound-404 > div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffa200;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
}

.notfound .notfound-404 > div:first-child:before {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
}

.notfound .notfound-404 h1 {
    font-family: "Cabin", sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.notfound h2 {
    font-family: "Cabin", sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.notfound p {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

.notfound a {
    font-family: "Cabin", sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background-color: #8f8f8f;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    background-color: #2c2c2c;
}

html body .content .content-wrapper {
    padding: 1.2rem !important;
}

.mr-p5 {
    margin-right: 2px;
}

.form-group-style label {
    font-weight: 400 !important;
    font-size: 11px !important;
    letter-spacing: 0.06em !important;
}

.form-group-style {
    padding-top: 6px !important;
    padding-bottom: 0px !important;
}

.form-group-style .form-control {
    height: calc(2.2rem + 2px) !important;
}

.separator {
    border-bottom: 1px solid #33333314;
}

.form-group-style .select2-container--default .select2-selection--single {
    padding: 5px 0px !important;
    border-color: #d9d9d900 !important;
    background-color: #3330 !important;
    height: 29px !important;
    border: 1px solid #fffdfd00 !important;
}

.form-group-style
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    padding: 0px !important;
}

.form-group-style .select2-container {
    top: -9px !important;
}

.form-group-style .select2-container--default .selection --focus {
    outline: 0 !important;
}

.form-group-style .select2-container--default .select2-selection--multiple {
    min-height: 29px !important;
    padding: 0px 0px !important;
    border: 0px !important;
}

.multiple .select2-container {
    top: 0px !important;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #e6e6e6 !important;
    background-image: none;
    border: none !important;
    box-shadow: none;
    color: #7c7d86 !important;
    border-radius: 8px !important;
    margin: 6px 6px 0 0;
    padding: 0 8px 0 7px !important;
    line-height: 21px;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    color: #999 !important;
}

:focus {
    outline: 0px solid red !important;
}

.btn {
    padding: 0.6rem 1rem !important;
}

.form-control {
    font-size: 13px !important;
}

@media only screen and (min-width: 768px) {
    form .row {
        margin-left: 0;
        margin-right: 0;
    }

    form .row [class*="col-"]:not(:first-child),
    form .row [class*="col-"]:not(:last-child) {
        padding-right: 7px;
        padding-left: 7px;
    }

    form .row [class*="col-"]:first-child {
        padding-left: 0;
    }

    form .row [class*="col-"]:last-child {
        padding-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /*form .row [class*="col-md-"]:not(:first-child),
    form .row [class*="col-md-"]:not(:last-child){
      padding-right: 0;
      padding-left: 0;
    }*/
}

.form-group-style {
    margin-bottom: 15px !important;
}

.form-group-style input[type="file"] {
    padding: 0.5rem 0rem !important;
}

.dis {
    background-color: #eceff1 !important;
}

.user-prof {
    float: left;
}

.user-prof img {
    width: 50px;
    max-height: 50px;
}

.bnk-wrap {
    border: 1px solid #33333329;
    padding: 10px;
}

.image-form-save .la-check-square-o {
    font-size: 1rem !important;
}
.btn .la-check-square-o {
    font-size: 1rem !important;
}
.next {
    font-size: 1rem !important;
}

.back {
    font-size: 1rem !important;
}

.item-outer-img {
    height: 160px;
    position: relative;
}

.item-outer-img img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 150px;
    max-width: 190px;
}

body {
    overflow-x: hidden;
}

.logo {
    width: 145px !important;
}
